//定义相关CSS变量及class封装
:root {
  --color-primary: #165dff;
  --color-white: #fff;
  --color-high: #1d2129;
  --color-medium: #4e5969;
  --color-low: #6e7b91;
  --color-light: #86909c;
  --color-shadow: rgba(0, 0, 0, 0.08);
  --border-color: #e5e6eb;
  --border: 1px solid var(--border-color);
  // --bgc-def: #f0f3fa;
  --bgc-def: #eaf3ff;

  --color-success: #00b42a;
  --color-error: #f53f3f;

  --color-enabled: #00b42a; // 已启用
  --color-not-enabled: #4e5969; // 未启用
  --color-disabled: #c9cdd4; //

  --header-height: 84px;
}

.cm-card {
  background: #fff;
  border-radius: 4px;
  padding: 24px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

//对齐方式
.margin {
  margin: 0 auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.font12 {
  font-size: 12px;
}

.font14 {
  //默认字大小
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

.font20 {
  font-size: 20px;
}

.font24 {
  font-size: 24px !important;
}

.font-600 {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.color {
  color: var(--color-primary);
}

.color-high {
  color: var(--color-high);
}

.color-medium {
  //默认字体颜色
  color: var(--color-medium);
}

.color-low {
  color: var(--color-low);
}

.color-light {
  color: var(--color-light);
}

//圆角

.radius0 {
  border-radius: 0;
}

.radius2 {
  border-radius: 2px;
}

.radius4 {
  border-radius: 4px;
}

.radius8 {
  border-radius: 8px;
}

//背景及颜色
.white {
  background-color: var(--color-white);
}

//阴影
.shadow {
  box-shadow: 0 2px 6px 0 var(--color-shadow);
}

//悬浮加阴影
.shadow-hover {
  transition: 0.3s linear;
}

.shadow-hover:hover {
  box-shadow: 0 6px 16px 0 var(--color-shadow);
}

//弹性盒子及对齐
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

// .ml-4 {
//   margin-left: 4px;
// }
// .ml-8 {
//   margin-left: 8px;
// }

// .ml-10 {
//   margin-left: 10px;
// }

// .ml-16 {
//   margin-left: 16px;
// }

// .ml-21 {
//   margin-left: 21px;
// }

// .ml-36 {
//   margin-left: 36px;
// }

// .ml-40 {
//   margin-left: 40px;
// }

// .mr-4 {
//   margin-right: 4px;
// }

// .mr-8 {
//   margin-right: 8px;
// }

// .mr-12 {
//   margin-right: 12px;
// }

// .mr-10 {
//   margin-right: 10px;
// }

// .mr-16 {
//   margin-right: 16px;
// }

// .mr-80 {
//   margin-right: 80px;
// }

// .mt-10 {
//   margin-top: 10px;
// }

// .mt-16 {
//   margin-top: 16px;
// }

// .mt-20 {
//   margin-top: 20px;
// }

// .mt-24 {
//   margin-top: 24px;
// }

// .mb-8 {
//   margin-bottom: 8px;
// }

// .mb-10 {
//   margin-bottom: 10px;
// }

// .mb-12 {
//   margin-bottom: 12px;
// }

// .mb-16 {
//   margin-bottom: 16px;
// }

// .mb-20 {
//   margin-bottom: 20px;
// }

// .mb-40 {
//   margin-bottom: 40px;
// }

// .mb-24 {
//   margin-bottom: 24px;
// }

.bg-white {
  background-color: #fff;
}

.point {
  cursor: pointer;
}

// .gap-16 {
//   gap: 16px;
// }

.lh-1 {
  line-height: 1;
}

// .lh-36 {
//   line-height: 36px;
// }

.table-left-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-high);
  line-height: 24px;
}

.ft-disabled {
  color: #c9cdd4;
  pointer-events: none;
  cursor: not-allowed;
}

/*
重置Element Plus样式
*/
.list-wrapper {
  .el-list-header {
    background: #f2f3f5;
  }
}

.el-drawer__footer {
  box-shadow: 0px -3px 12px 0px rgba(0, 0, 0, 0.1);
}

.full-content {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 24px;
}

.clear-form-item-margin {
  .el-form-item--inline {
    margin-right: 0 !important;
  }

  .el-form-item {
    margin-bottom: 0 !important;
  }
}

.font-semibold {
  font-weight: 600;
}

.empty-minheight {
  .el-empty {
    min-height: 119px;
  }
}

// table 简单分页的样式
.simple-table {
  // .el-table__cell:hover {
  //   background-color: transparent !important;
  // }

  .item {
    display: flex;
    justify-content: space-between;
  }

  .item-left {
    display: flex;
    cursor: pointer;
    flex: 1;
  }

  .item-left:hover {
    color: var(--color-primary) !important;
  }

  .item-right {
    display: none;
  }

  .item-right:hover {
    display: block;
  }

  .tap,
  .item:hover {
    .item-right {
      display: block;
    }
  }

  .row-active {
    .el-table__cell {
      background-color: #e8f3ff !important;
    }
  }

  .list-title {
    //cursor: pointer;
    &.active {
      color: var(--color-primary);
    }
  }
}

// 单行文本省略号
.ellipsis-single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 多行文本省略号
.ellipsis-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 显示的行数 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// el-tooltip提示组件 content-class
.tooltipClass {
  max-height: 300px;
  overflow-y: auto;
}
