<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voc.service.insights.engine.data.mapper.AysPostprocessDataMapper">



    <select id="pagePostprocessDataList"  >
        SELECT
        new_id,
        id,
        work_id,
        client_id,
        channel_id,
        original_id,
        content_type,
        input_data_id,
        sample_data_type,
        original_text_scene,
        brand_code_name,
        car_series_name,
        label_type,
        label_type_level_first,
        label_type_level_second,
        label_type_level_three,
        label_type_level_four,
        label_type_level_five,
        scenario,
        sentiment,
        intention_type,
        topic,
        opinion,
        subject,
        fault_level,
        description,
        sentiment_score,
        keywords,
        publish_time,
        create_time,
        abandon,
        hit_rules,
        done,
        ext_fields,
        biz_ext_attrs,
        biz_ext_attrs2,
        biz_ext_attrs3,
        trim(ext_fields->'$.similarTopic')  as similar_topic
        FROM
        ays_post_process_data
        where
        client_id = #{clientId}
        <if test="workIdList != null and workIdList.size()!=0 ">
            and work_id in
            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="workIdList != null and workIdList.size()!=0 ">
            and ext_fields->'$.showType' = 1
        </if>
        <if test="workIdList == null">
            and ext_fields->'$.showType' = 2
        </if>
        <if test="dataStatus != null and dataStatus.size()!=0">
            and abandon in
            <foreach item="item" index="index" collection="dataStatus" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime !=''">
            and date(publish_time) BETWEEN DATE(#{startTime}) and DATE(#{endTime})
        </if>
        <if test="sentiment != null and sentiment.size()!=0">
            and sentiment in
            <foreach item="item" index="index" collection="sentiment" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="intention != null and intention.size()!=0 ">
            and intention_type in
            <foreach item="item" index="index" collection="intention" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="brandCode != null and brandCode.size()!=0 ">
            and brand_code_name in
            <foreach item="item" index="index" collection="brandCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="carSeries != null and carSeries.size()!=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="carSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="channelIdList != null and channelIdList.size() !=0 ">
            and channel_id in
            <foreach item="item" index="index" collection="channelIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by new_id desc
        limit #{pageNum},#{pageSize}
    </select>


    <select id="pagePostprocessDataListCount" >
        SELECT
        count(create_time)
        FROM
        ays_post_process_data
        where
         client_id = #{clientId}
        <if test="workIdList != null and workIdList.size()!=0 ">
            and ext_fields->'$.showType' = 1
        </if>
        <if test="workIdList == null">
            and ext_fields->'$.showType' = 2
        </if>
        <if test="workIdList != null and workIdList.size()!=0 ">
            and work_id in
            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataStatus != null and dataStatus.size()!=0">
            and abandon in
            <foreach item="item" index="index" collection="dataStatus" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="startTime != null and startTime !=''">
            and date(publish_time) BETWEEN DATE(#{startTime}) and DATE(#{endTime})
        </if>
        <if test="sentiment != null and sentiment.size!=0">
            and sentiment in
            <foreach item="item" index="index" collection="sentiment" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="intention != null and intention.size()!=0 ">
            and intention_type in
            <foreach item="item" index="index" collection="intention" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="brandCode != null and brandCode.size()!=0 ">
            and brand_code_name in
            <foreach item="item" index="index" collection="brandCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="carSeries != null and carSeries.size()!=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="carSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="channelIdList != null and channelIdList.size() !=0 ">
            and channel_id in
            <foreach item="item" index="index" collection="channelIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>



    <select id="pageProjectPostDataList" >
        SELECT
        new_id,
        id,
        work_id,
        client_id,
        channel_id,
        original_id,
        content_type,
        input_data_id,
        sample_data_type,
        original_text_scene,
        brand_code_name,
        car_series_name,
        label_type,
        label_type_level_first,
        label_type_level_second,
        label_type_level_three,
        label_type_level_four,
        label_type_level_five,
        scenario,
        sentiment,
        intention_type,
        topic,
        opinion,
        subject,
        fault_level,
        description,
        sentiment_score,
        keywords,
        publish_time,
        create_time,
        update_time,
        abandon,
        hit_rules,
        ext_fields,
        biz_ext_attrs,
        biz_ext_attrs2,
        biz_ext_attrs3,
        done,
        mention_car_series as mentionCarSeries,
        trim(ext_fields->'$.similarTopic')  as similar_topic
        FROM
        ins_ays_post_process_data
        where
        client_id = #{clientId} and showType ="2"
<!--        <if test="workIdList != null and workIdList.size() !=0 and dateType != null and dateType !=''">-->
<!--            and (work_id in-->
<!--            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--            or showType ="2")-->
<!--        </if>-->

<!--        <if test="workIdList == null and dateType != null and dateType !=''">-->
<!--            and showType ="2"-->
<!--        </if>-->

<!--        <if test="workIdList != null and workIdList.size() !=0 and dateType == null and dateType ==''">-->
<!--            and work_id in-->
<!--            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--        </if>-->
        <if test="startTime != null and startTime !=''">
            and date(publish_time) BETWEEN DATE(#{startTime}) and DATE(#{endTime})
        </if>
        <if test="sentiment != null and sentiment.size!=0">
            and sentiment in
            <foreach item="item" index="index" collection="sentiment" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="labelTypeList != null and labelTypeList.size!=0">
            and label_type in
            <foreach item="item" index="index" collection="labelTypeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="intention != null and intention.size()!=0 ">
            and intention_type in
            <foreach item="item" index="index" collection="intention" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="brandCode != null and brandCode.size()!=0 ">
            and brand_code_name in
            <foreach item="item" index="index" collection="brandCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="channelIdList != null and channelIdList.size() !=0 ">
            and channel_id in
            <foreach item="item" index="index" collection="channelIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="labelTypeLevelFourDisableList !=null and labelTypeLevelFourDisableList.size() >0">
            and  label_type_level_four_code not in
            <foreach item="item" index="index" collection="labelTypeLevelFourDisableList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="cityCodeList != null and cityCodeList.size!=0">
            and small_area_code in
            <foreach item="item" index="index" collection="cityCodeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="ownCarSeries != null and ownCarSeries.size() !=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="ownCarSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="competitorsCarSeries != null and competitorsCarSeries.size() !=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="competitorsCarSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mentionCarSeriesString != null and mentionCarSeriesString !='' ">
            and mention_car_series IS  not null and mention_car_series!="[]"
            and array_length(array_intersect(split(mention_car_series ,',') ,split(#{mentionCarSeriesString} ,','))) > 0
        </if>
        <if test="keywords != null and keywords !='' ">
            and (category_1 like concat('%',#{keywords},'%')
            or category_2 like concat('%',#{keywords},'%')
            or category_3 like concat('%',#{keywords},'%')
            or category_4 like concat('%',#{keywords},'%')
            or category_5 like concat('%',#{keywords},'%')
            or abstract like concat('%',#{keywords},'%')
            or original_text_scene like concat('%',#{keywords},'%')
            )
        </if>
        order by new_id desc
        limit #{pageNum},#{pageSize}
    </select>




    <select id="pageProjectPostDataCount" resultType="java.lang.Long" >
        SELECT
        count(*)
        FROM
        ins_ays_post_process_data
        where
        client_id = #{clientId} and showType ="2"
<!--        <if test="workIdList != null and workIdList.size() !=0 and dateType != null and dateType !=''">-->
<!--            and (work_id in-->
<!--            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--            or showType ="2")-->
<!--        </if>-->

<!--        <if test=" (workIdList == null ) and (dateType != null and dateType !='')">-->
<!--            and showType ="2"-->
<!--        </if>-->

<!--        <if test="workIdList != null and workIdList.size() !=0 and dateType == null and dateType ==''">-->
<!--            and work_id in-->
<!--            <foreach item="item" index="index" collection="workIdList" open="(" separator="," close=")">-->
<!--                #{item}-->
<!--            </foreach>-->
<!--        </if>-->
        <if test="startTime != null and startTime !=''">
            and date(publish_time) BETWEEN DATE(#{startTime}) and DATE(#{endTime})
        </if>
        <if test="sentiment != null and sentiment.size()!=0">
            and sentiment in
            <foreach item="item" index="index" collection="sentiment" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="labelTypeList != null and labelTypeList.size!=0">
            and label_type in
            <foreach item="item" index="index" collection="labelTypeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="intention != null and intention.size()!=0 ">
            and intention_type in
            <foreach item="item" index="index" collection="intention" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="labelTypeLevelFourDisableList !=null and labelTypeLevelFourDisableList.size() >0">
            and  label_type_level_four_code not in
            <foreach item="item" index="index" collection="labelTypeLevelFourDisableList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="cityCodeList != null and cityCodeList.size!=0">
            and small_area_code in
            <foreach item="item" index="index" collection="cityCodeList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="brandCode != null and brandCode.size()!=0 ">
            and brand_code_name in
            <foreach item="item" index="index" collection="brandCode" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="channelIdList != null and channelIdList.size() !=0 ">
            and channel_id in
            <foreach item="item" index="index" collection="channelIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="ownCarSeries != null and ownCarSeries.size() !=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="ownCarSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="competitorsCarSeries != null and competitorsCarSeries.size() !=0 ">
            and car_series_name in
            <foreach item="item" index="index" collection="competitorsCarSeries" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="mentionCarSeriesString != null and mentionCarSeriesString !='' ">
            and mention_car_series IS  not null and mention_car_series!="[]"
            and array_length(array_intersect(split(mention_car_series ,',') ,split(#{mentionCarSeriesString} ,','))) > 0
        </if>
        <if test="keywords != null and keywords !='' ">
            and (category_1 like concat('%',#{keywords},'%')
            or category_2 like concat('%',#{keywords},'%')
            or category_3 like concat('%',#{keywords},'%')
            or category_4 like concat('%',#{keywords},'%')
            or category_5 like concat('%',#{keywords},'%')
            or abstract like concat('%',#{keywords},'%')
            or original_text_scene like concat('%',#{keywords},'%')
            )
        </if>
    </select>



    <select id="getDateTime" resultType="java.lang.String">
        SELECT
        publish_time
        FROM
        ays_post_process_data
        where
        ext_fields->'$.showType' = 2
        <if test="date != null and date !=''">
            and date(create_time) BETWEEN DATE(#{date}) and DATE(#{date})
        </if>
        order by publish_time desc limit 1
    </select>
</mapper>