<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voc.service.insights.engine.mapper.InsIndicatorConditionConfigMapper">

    <!-- 根据使用范围查询指标条件配置 -->
    <select id="selectByCanuse" resultType="com.voc.service.insights.engine.entity.InsIndicatorConditionConfigEntity">
        SELECT
            id,
            indicator_name as indicatorName,
            indicator_code as indicatorCode,
            type_name as typeName,
            type_code as typeCode,
            operator_name as operatorName,
            operator_code as operatorCode,
            value_type_name as valueTypeName,
            value_type_code as valueTypeCode,
            value_format as valueFormat,
            canuse
        FROM
            ins_indicator_condition_config
        WHERE
            FIND_IN_SET(#{canuse}, canuse)
        ORDER BY id ASC
    </select>

</mapper>
