<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voc.service.analysis.risk.mapper.QualityRiskDataMapper">

    <select id="riskQualityFilter" resultType="com.voc.service.analysis.model.QualityRiskDataModel" >
        select * from rp_quality_risk_data where 1=1
        <if test="beginTime !=null and beginTime!='' ">
            and publish_date &gt;=#{beginTime}
            and publish_date &lt;= #{endTime}
        </if>
        <if test="beginTime ==null or beginTime=='' ">
            and date(publish_date) &gt;=date(DATE_SUB(NOW(), INTERVAL 1 DAY))
            and date(publish_date) &lt;= date(DATE_SUB(NOW(), INTERVAL 1 DAY))
        </if>
        <if test="vo.brandName !=null and vo.brandName!='' ">
            and brand_name = #{vo.brandName}
        </if>
        <if test="model.periodType !=null and model.periodType!='' ">
            and statistic_type = #{model.periodType}
        </if>
        <if test="model.negative !=null and model.negative!='' ">
            and negative_num >= #{model.negative}
        </if>
        <if test="model.riskWords !=null and model.riskWords!='' ">
            and risk_keywords_num >= #{model.riskWords}
        </if>
    </select>

</mapper>